body,html,#root, .App{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

*{
  margin: 0;
}
.container{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.conainer-nav{
  width: 350px;
}
.conainer-content{
  width: calc(100% - 370px);
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
  padding: 10px 20px;
}