.profile_page{
    display: flex;
    justify-content: space-between;
}
.profile-left{
    width: 40%;
}
.profile-right{
    width: 58%;
}
.profile-left img{
    width: 100%;
    border-radius: 5px;
    height: 200px;
}
.profile-right h3{
    font-size: 20px;
    background: -webkit-linear-gradient(#656cff, #001c5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ubuntu;
    display: inline;
    margin-right: 20px;
}
.register-date{
    font-size: 12px;
    font-weight: 500;
    margin-top: 0px;
}
.profile_status{
    margin-top: 5px;
    font-size: 15px;
    color: #8e8a8a;
}
.profile_item{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.profile_item p{
    width: 140px;
    font-size: 14px;
    font-family: Ubuntu;
    color: #2e2e2e;
    font-weight: 700;
}
.profile_item span{
    font-size: 13px;
    font-family: Ubuntu;
    font-weight: 700;
    background: -webkit-linear-gradient(#656cff, #001c5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.posts_page{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(189, 186, 186);
}

.like .liked{
    color: #1a4ee0;
}
.friends_list_wrap{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}
.total_friends{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.total_friends span{
    color: #798db9;
}
.totap_posts{
    font-size: 18px !important;
    font-weight: 600;
    font-family: Ubuntu;
    border-bottom: 1px solid rgb(189, 186, 186);
    margin-top: 0;
    padding-bottom: 10px;
}
.years{
    margin-left: 20px;
}
.btn_profile_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.btn_profile_wrapper button{
    width: 48%;
    height: 30px;
    margin-top: 0;
}