button{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-image: linear-gradient(to right,#25408c, #152657, #112c77,  #214fd2, #0d266f);
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: .4s all;
}
button:hover{
    background-image: linear-gradient(to right, #152657, #112c77,  #214fd2, #0d266f, #25408c);
    transition: .4s all;
}